*{
    padding: 0;
    margin: 5px 0px;
}

main{
    width: 100%;

    color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background: linear-gradient(-45deg, #52d4ee, #3cabe7, #575bcf, #23d5ab);
	background-size: 400% 400%;
	animation: animation 15s ease infinite;
	height: 100vh;
}

@keyframes animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


